.advantages {
}
.advantages-wrapper {
}
.advantages-logo-p {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #FCFCFC;
}

.advantages-logo-h {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 38px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FCFCFC;
}

.cow-bac-big {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #F8D24E;
}

.advantages-list {
}
.advantages-item {
}
.advantages-text {
}
.adv-list-cow {
}
.adv-item-cow {
}
.cow-bac {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #F8D24E;
}

.cow-icon {
  fill: black;
}

.adv-figure {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.22;
  letter-spacing: 0.04em;
  color: #FCFCFC;
}

.adv-figure-text {
  font-family: var(--primary-font);
  font-weight: 700;
  line-height: 170%;
  color: #FCFCFC;
}
.adv-btn {
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 14px;
  line-height: 1.28;
  color: #000000;
}