.visual-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.city-contacts::before {
    content: "";
    width: 100%;
    border: 1px solid #E1E1E1
}

.day-and-time-contacts::before{
    content: "";
    width: 100%;
    border: 1px solid #E1E1E1
}

@media screen and (max-width: 479px) {
    .section-conacts{
        display: flex;
    }
    .info-contacts{
        background: #FCFCFC;
        box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
        border-radius: 24px;
        padding-top: 40px;
        padding-right: 32px;
        padding-bottom: 24px;
        padding-left: 32px;
        column-gap: 16px;
    }
    .categories-contacts{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 120%;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.04em;
        color: #131313;
        background: #F8D24E;
        border-radius: 4px;

    }
    .city-name-contacts{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 186%;
        letter-spacing: 0.04em;    
        color: #131313;
    }
    .city-address-contacts{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 183%;
        letter-spacing: 0.04em;    
        color: #D6936D;
    }
    .day-contacts{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 183%;
        letter-spacing: 0.04em;
        color: #D6936D;
    }
    .time-contacts{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 186%;
        color: #907E82;
    }
    .contacts-phone-mail{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 150%;
        color: #131313;
    }
}